input(type='hidden', value= user._id)#userId

style(type='text/css').
  #account-form-container {
    width: 627px !important;
    margin: 100px auto;
  }
  
  .form-horizontal .control-label { width: 200px; }
  .input-mini { margin: 0 10px; }
  .controls .help-inline { font-weight: normal; font-size: 10pt; }
  .table { font-size: 10pt; }
  .table tbody { font-weight: normal; }

#account-form-container
  #account-form.form-horizontal.well.span8
    h3 Billing Information
      #billingtable
        table.table.table-bordered
          thead
            th Item
            th Qty
            th Unit Price
            th Subtotal
          tbody
            thead
              tr
                th Item
                th Qty
                th Unit Price
                th Item Subtotal
            tbody
              for item in locals.items
                th item.n
                th item.q
                th $#{item.p}
                th $#{item.q * item.p}
// display form errors in a custom modal window //

include modals/form-errors
