- user = typeof(udata) != 'undefined' ? udata : { }
- tickets = typeof(tdata) != 'undefined' ? tdata : { }
- prices = typeof(pdata) != 'undefined' ? pdata : { }

input(type='hidden', value= user._id)#userId

style(type='text/css').
  #account-form-container {
    width: 627px !important;
    margin: 100px auto;
  }
  
  .form-horizontal .control-label { width: 200px; }
  .input-mini { margin: 0 10px; }
  .controls .help-inline { font-weight: normal; font-size: 10pt; }
  .table { font-size: 10pt; }
  .table tbody { font-weight: normal; }

#account-form-container
  form(method="post")#account-form.form-horizontal.well.span6h1
   h3 Billing Information
     #billingtable
       table.table.table-bordered
         thead
           th Item
           th Qty
           th Unit Price
           th Subtotal
         tbody
           tr
             td WCHFF Festival Pass - Dancer
             td 
             td 
               prices.festivalpasses.dancer
             
// display form errors in a custom modal window //

include modals/form-errors
