- user = typeof(udata) != 'undefined' ? udata : { }
- participants = typeof(ddata) != 'undefined' ? pdata : { }
input(type='hidden', value= user._id)#userId
script(type='text/javascript')
  $(".collapse").click(function(){console.log("collapse");});

#account-form-container
  form( method="post")#account-form.form-horizontal.well.span6h1
   h3 Group Participants
      p#sub1.subheading 
      hr
      fieldset
        #participant
          #name-cg.control-group
            label.control-label(for='firstname-tf') Full Name
            .controls
              input#firstname-tf.input-xlarge.span2(type='text', name='firstname', placeholder='First Name', value='')
              input#lastname-tf.input-xlarge.span2(type='text', name='lastname', placeholder='Last Name', value='')
           #dob-cg.control-group
             label.control-label(for='dob-tf') Date of Birth
             .controls
               input#dob-tf.input-xlarge.span2(type='text', name='dob', placeholder='mm/dd/yyyy', value='')
               select#gender-sf.span2
                 option(disabled selected) Gender
                 option Female
                 option Male
           #attr-cg.control-group
             label.control-label(for='attr-sf') Role
             .controls
               select#attr-sf.input-xlarge.span2
                 option(selected) Dancer
                 option Group Administrator (max: 2)
                 option Chaperone (max: 2)

        br
        button(type='submit')#account-form-btn2.btn.pull-right

// display form errors in a custom modal window //

include modals/form-errors
